.Todo-add-title-input {
  width: 350px;
  height: 50px;
  background-color: palegoldenrod;
  border: solid 2px lightyellow;
  border-radius: 10px;
  color: steelblue;
  font-family: monospace;
  font-size: large;
  padding-left: 10px;
}
.Todo-add-description-input {
  width: 350px;
  padding-top: 10px;
  height: 130px;
  margin-top: 15px;
  background-color: palegoldenrod;
  border: solid 2px lightyellow;
  border-radius: 10px;
  color: steelblue;
  font-family: monospace;
  font-size: large;
  padding-left: 10px;
}
.Todo-add-button {
  margin-top: 10px;
  width: 150px;
  font-size: 23px;
  background-color: midnightblue;
  color: white;
  border: solid 2px midnightblue;
  border-radius: 5px;
  margin-right: 21px;
  cursor: pointer;
  font-family: monospace;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}
.Todo-add-button:hover {
  background-color: slateblue;
  border: solid 2px slateblue;
  color: midnightblue;
}
.Todo-Body-Edit {
  display: none;
}
.Todo-Body-Edit-Title,
.Todo-Body-Edit-Description {
  border: solid 2px #f1e6c7;
  border-radius: 5px;
  padding: 5px;
  background-color: palegoldenrod;
  margin-top: 5px;
}

.Todo-Body-Edit-Save,
.Todo-Body-Edit-Reset {
  width: 70px;
  margin-right: 10px;
  margin-top: 10px;
  height: 25px;
  background-color: teal;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  color: lightcyan;
  font-family: monospace;
  cursor: pointer;
}
input[type="text"],
textarea,
select {
  outline: none;
}
